<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nature Image 1</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="imges/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
<md-dialog-content style="max-width:800px;max-height:810px;">
    <div>
            <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="images/image1.jpg">
    </div>
</md-dialog-content>
</form>
</md-dialog>
